{% extends 'SchoolUserBundle::base.html.twig' %}

{% block title %}List Courses{% endblock %}


{% block body %}
<div class="container-fluid">
    <h3> Courses List </h3>
    
    <ul>
        {% for year, courses in grouped %}
            <li> {{ year }} </li>            
            <ul>
                {% for course in courses %}           
                    <li> {{ course.course.name }} - 
                        {{ course.class.name }} <a href="{{ path('teacher_list_exams', {'course_id': course.course.id, 'class_id': course.class.id}) }}"> (Assign Exam) </a> 
                    </li>           
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
   
</div>
{% endblock %}