{% extends 'SchoolUserBundle::base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h3>Welcome to the Homepage! </h3>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>

{% endblock %}