{% extends 'SchoolUserBundle::base.html.twig' %}
{% form_theme form 'SchoolUserBundle:Form:bootstrap_form.html.twig' %}

{% block title %} {{ assigned_exam.exam.name }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <h3> {{ assigned_exam.exam.name }} </h3>
    
    <ol>
        {{ form(form) }}
    </ol>
</div>
{% endblock %}